<%= form_with(model: @problem, local: true) do |form| %>
  <div class="p-3 mr-3 trix" style='height: 17rem'>
    <%= form.select :category_id, Category.all.map { |c| [c.category, c.id]} %>
    <div class="text-area" style='height: 15rem'>
      <%= form.rich_text_area :body, label: "What's Your Problem", input_html: { class: "text-area" }, wrapper: false, label_html: {class: "label"}, placeholders: "Your Problem...", autofocus: true %>
    </div>

    <%= hidden_field_tag(:redirect_url, root_path) %>
    <%= form.button :submit, class: "btn btn-secondary mt-2" %>
  </div>
<% end %>
