<section class='container-fluid p-0 m-0'>
  <div class='row m-0'>
    <div class='col-2 left-side p-0 m-0'>
      <%= render 'left-side' %>
    </div>
    <div class='col-10 p-0 m-0'>
      <%= flash_message %>
      <%= render 'problems/navbar' %>
      <div class='row m-0'>
        <div class="col-8 mt-5">
          <%= render 'feed' %>
        </div>
        <div class="col-3 shadow p-3 mb-5 bg-white rounded mt-5 trending">
          <div class='whotofollow'>
            <div class='w-title'>
              <h3>WHO TO FOLLOW?</h3>
            </div>
            <div>
              <% @users_first_three.each do |p| %>
                <div class="col-12 users-to-f text-start">
                  <%= user_avatar(p) %>
                  <%=link_to p.name, user_path(id: p.id) %>
                  <hr>
                </div>
              <% end %>
            </div>
            <div class="text-muted pt-2 ">
              <h4 class="text-center">Trending</h4>
              <hr>
              <div class="container text-center">
                <h6>#RubyonRails</h6>
                <hr>
                <h6>#React</h6>
                <hr>
                <h6>#Hacks</h6>
                <hr>
                <h6>#Plumbing</h6>
                <hr>
                <h6>#Laws</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
