<%= form_with(model: @new_problem, local: true) do |form| %>
  <div class="p-3 m-3 trix">
    <div class='d-flex align-items-center title-fp'>
      <h3 class='mr-3 mb-3'>Category: </h3>
      <%= form.select :category_id, Category.all.map { |c| [c.category, c.id]} %>
    </div>
    <div class='editor-area'>
      <%= form.rich_text_area :body, label: "What's Your Problem", input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholders: "Your Problem...", autofocus: true %>
    </div>

    <%= hidden_field_tag(:redirect_url, user_path(@user.id)) %>
    <%= form.button :submit, class: "btn bg-navbar text-light mt-2"   %>
  </div>
<% end %>