<section class='container-fluid p-0 m-0'>
  <div class='row m-0'>
    <div class='col-2 left-side bg-secondary p-0 m-0'>
      <%= render 'problems/left-side' %>
    </div>
    <div class='col-10 p-0 m-0'>
      <%= flash_message %>
      <%= render 'problems/navbar' %>
      <div>
      </div>

      <%= link_to 'New Category', new_category_path %>
    </div>
  </div>
</section>
<%= link_to 'Back', categories_path %>
